/* color scheme */
:root {
    --chalk: #fbf7f5;
    --Gold: #d4af37;
    --darkcharcoal: #1e282e;
    --lightcharcoal: #d7dee4;
    --orange-button: #fd7302;

    /* --chalk: #fbf7f5;
    --Gold: #d4af37;
    --darkcharcoal: #29353d;
    --lightcharcoal: #98a7b1;
    --orange-button: #fd7302; */


}

html {
    /* set global font size to 10 for easy calculations */
    font-size: 62.5%;
    background-color: var(--chalk);
}

body {
    /* Sans Serif font stack is implemented to help select the best font for eac */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of */
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--darkcharcoal);
    background-color: var(--chalk);
}
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: var(--darkcharcoal);
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

body {
    background-color: var(--chalk);
    color: var(--darkcharcoal);
}

header {
    width: 100%;
    top: 0px;
    color: var(--chalk);
    background-color: var(--darkcharcoal);
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div h2,
footer h2,
footer section h2,
footer section h4,
footer section h5,
footer section h6 {
    /* color: var(--chalk); */
    color: var(--Gold);
    padding: 1rem 1rem;
}
footer section h5,
footer section h6 {
    color: var(--chalk);
    padding: 1rem 1rem;
    
}
.hamburger {
    height: 3.75rem;
    background-color: var(--darkcharcoal);
    float: right;
    padding: 0 1rem;
}

.navMenuLarge {
    display: none;
}

.navMenuItems {
    display: none;
    flex-direction: column;
    background-color: var(--lightcharcoal);
}

.navMenuItems li {
    box-shadow: 0 0 1px var(--darkcharcoal);
}
.navMenuItems a {
    display: block;
    color: var(--darkcharcoal);
    text-decoration: none;
    padding: 1rem 1rem;
    line-height: 5rem;
}

aside {
    position: relative;
    flex: 1 0 40%;
    background-color: var(--lightcharcoal);
    padding: 20px 20px 5px 20px;
    order: 1;
}

button {
    display:block;
    width: 85%;
    margin: 2rem auto;
    color: var(--chalk);
    background-color: var(--orange-button);
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0 .3rem var(--darkcharcoal);
    padding: .75rem 1.5rem;
}

.aboutMe,
.project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.aboutMeDiv {
    flex: 3 1 75%;
}

.aboutMeImage {
    width:100%;
    margin-bottom: -.75rem;
    ;
}

aside h2,
aside h3,
aside h4 {
    text-align: center;
    color: var(--darkcharcoal);
    margin-bottom: 2rem;
}
#projectSection {
    margin: 3rem 0;
}
.projectBox {
    display: block;
    flex: 0 1 100%;
    padding: 1rem;
    border: .15rem var(--lightcharcoal) solid;
    margin: .3rem .15rem;
    box-shadow: 0 0 .2rem var(--darkcharcoal);
}
.projectBox h2{
    color: var(--darkcharcoal);
    text-align: center;
}
.projectImage,
.firstProjectImage {
    width:100%;
    float: right;
}
/* .firstProjectImage {
    width: 100%;
} */
.underConstruction p::before {
    content: "👷 ";
}
.underConstruction p::after {
    content: " 👷";
}
/* Footer styling */
footer {
    display:flex;
    background-color: var(--darkcharcoal);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
#contactMe h2 {
    flex: 2 1 100%;
    text-align: center;
}
.myContactDetails,
.contactForm {
    display: block;
    flex: 1 1 48%;
    padding: 1rem 2rem;
}
.myContactDetails {
    border-bottom: 1px solid var(--lightcharcoal);
}
footer section label {
    color: var(--chalk);
}
input {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    width: 100%;
}

@media screen and (min-width:768px) {
/* Change the navigattion menu bar for tablet screens */
    .hamburger,
    .nav-menu-small {
        display: none;
    }
    .navMenuLarge,
    .navMenuItems {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: var(--darkcharcoal);
    }
    .navMenuItems li {
        box-shadow: none;
    }
    .navMenuItems a {
        color: var(--chalk);
        color: var(--Gold);
       
        text-decoration: none;
        padding: 1rem 1rem;
        line-height: 1.5rem;
    }
    .navMenuItems li a:hover {
        color: var(--lightcharcoal);
        transform: translate(-2px,-2px);
    }
    /* About me section syling*/
    .aboutMe {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    aside {
        order: 0;
        max-width: 350px;
    }
    .aboutMeImage {
        min-height: 100%;
        object-fit: cover;
    }

    aside button:hover {
        color: var(--lightcharcoal);
        transform: translate(-1px,-1px);
    }

/* project section styling */
    .project {
        flex-direction: row;
        flex-wrap:wrap ;
    }
    .projectBox {
        flex: 1 1 48%;
    }
    .first {
        flex: 2 1 75%;
    }
    /* Set the width of the first photo to 70% and float right */
    .firstProjectImage {
        width: 70%;
        float: right;
        padding-left: 1rem;
    }
    footer {
        flex-direction: row;
    }   
}

@media screen and (min-width:992px) {
    /* Change the navigattion menu bar for PC screens */
    body {
        max-width: 85%;
        margin: 0 auto;
    }
}